* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #397c5a;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-box {
  background-color: white;
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 10px;
}

.logo img {
  width: 100px;
}

.welcome {
  text-align: center;
  background: #f0f0f0;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.welcome h2 {
  font-size: 18px;
  color: #333;
}

.welcome p {
  font-size: 14px;
  color: #666;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
}

.options {
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.options input {
  margin-right: 5px;
}

.login-btn {
  background-color: #a4ce4f;
  border: none;
  color: #000;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
}

.divider {
  display: flex;
  align-items: center;
  color: #aaa;
  font-size: 12px;
  width: 100%;
  margin: 10px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
  margin: 0 10px;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.google-btn img {
  width: 18px;
}

.signup {
  font-size: 12px;
  color: #444;
  margin-top: 15px;
}

.signup a {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

